Repository libnoname/noname, pull requests merged in 2025-05, with the labels that each got.

#2493 素材补充
  audio/die/dc_sb_liuxie.mp3
  audio/die/dc_sb_xunyu.mp3
  audio/die/dc_sb_xunyu_shadow.mp3
  audio/die/ol_miheng.mp3
  audio/die/ol_niufu.mp3
  audio/die/star_zhangrang.mp3
  audio/die/yue_zhugeguo.mp3
  audio/skill/dcchengyan1.mp3
  audio/skill/dcchengyan2.mp3
  audio/skill/dcsbbizuo1.mp3
  audio/skill/dcsbbizuo2.mp3
  audio/skill/dcsbbizuo_dc_sb_xunyu_shadow1.mp3
  audio/skill/dcsbbizuo_dc_sb_xunyu_shadow2.mp3
  audio/skill/dcsbchensheng1.mp3
  audio/skill/dcsbchensheng2.mp3
  audio/skill/dcsbshimou1.mp3
  audio/skill/dcsbshimou2.mp3
  audio/skill/dcsbshimou_dc_sb_xunyu_shadow1.mp3
  audio/skill/dcsbshimou_dc_sb_xunyu_shadow2.mp3
  audio/skill/dcsbtiancheng1.mp3
  audio/skill/dcsbtiancheng2.mp3
  audio/skill/dcsbzhanban1.mp3
  audio/skill/dcsbzhanban2.mp3
  audio/skill/dcxidi1.mp3
  audio/skill/dcxidi2.mp3
  audio/skill/olfeibian1.mp3
  audio/skill/olfeibian2.mp3
  audio/skill/olkuangjuan1.mp3
  audio/skill/olkuangjuan2.mp3
  audio/skill/olshisuan1.mp3
  audio/skill/olshisuan2.mp3
  audio/skill/olzonglve1.mp3
  audio/skill/olzonglve2.mp3
  audio/skill/starduhai1.mp3
  audio/skill/starduhai2.mp3
  audio/skill/starlingse1.mp3
  audio/skill/starlingse2.mp3
  character/huicui/voices.js
  character/sp/voices.js
  character/sp2/voices.js
  character/xianding/skill.js
  character/xianding/voices.js
  image/character/dc_sb_liuxie.jpg
  image/character/dc_sb_xunyu.jpg
  image/character/dc_sb_xunyu_shadow.jpg
  image/character/dm_simayi.jpg
  image/character/star_zhangrang.jpg
  image/character/yue_zhugeguo.jpg
  image/character/zhanghuai.jpg
Labels: App:Platform, Status:Done, Level:P3

#2479 bugfix&技能调整&函数改动&新武将
  card/kaiheiji.js
  character/clan/character.js
  character/clan/skill.js
  character/clan/sort.js
  character/clan/translate.js
  character/collab/character.js
  character/collab/skill.js
  character/collab/sort.js
  character/collab/translate.js
  character/extra/character.js
  character/extra/skill.js
  character/extra/sort.js
  character/extra/translate.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/mobile/skill.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/replace.js
  character/sb/skill.js
  character/sb/translate.js
  character/sp/card.js
  character/sp/character.js
  character/sp/skill.js
  character/sp/sort.js
  character/sp/translate.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/skill.js
  game/package.js
  noname/library/element/card.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Card, App:Core, Status:Done, Level:P2

#2488 bugfix
  character/mobile/skill.js
  character/offline/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/sp/skill.js
  character/tw/skill.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P1

#2496 素材补充+三兄弟换肤功能+bugfix
  audio/die/dm_simayi.mp3
  audio/die/panghong.mp3
  audio/die/taipingsangong.mp3
  audio/skill/oldigong1.mp3
  audio/skill/oldigong2.mp3
  audio/skill/olguifu1.mp3
  audio/skill/olguifu2.mp3
  audio/skill/olmoubian1.mp3
  audio/skill/olmoubian2.mp3
  audio/skill/olmoubian3.mp3
  audio/skill/olmoubian4.mp3
  audio/skill/olrengong1.mp3
  audio/skill/olrengong2.mp3
  audio/skill/oltiangong1.mp3
  audio/skill/oltiangong2.mp3
  audio/skill/olzhouxi1.mp3
  audio/skill/olzhouxi2.mp3
  character/collab/index.js
  character/collab/skill.js
  character/collab/voices.js
  character/onlyOL/skill.js
  character/onlyOL/voices.js
  character/sp/skill.js
  character/sp/translate.js
  character/tw/skill.js
  character/tw/voices.js
  image/character/taipingsangong.jpg
  image/character/taipingsangong_ultimate.jpg
  image/character/yuanshaoyuanshu.jpg
Labels: App:Platform, Status:Done, Level:P3

#2495 bugfix
  card/extra.js
  card/gujian.js
  card/yunchou.js
  character/clan/skill.js
  character/clan/translate.js
  character/collab/skill.js
  character/ddd/skill.js
  character/diy/skill.js
  character/extra/skill.js
  character/gujian.js
  character/gwent.js
  character/hearth.js
  character/huicui/skill.js
  character/jsrg/skill.js
  character/key/skill.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/skill.js
  character/ow.js
  character/refresh/skill.js
  character/refresh/translate.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/shiji/skill.js
  character/sixiang/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/standard/skill.js
  character/swd.js
  character/tw/skill.js
  character/xianding/skill.js
  character/xianjian.js
  character/yijiang/skill.js
  character/yingbian/skill.js
  character/yxs.js
  mode/boss.js
  mode/doudizhu.js
  mode/single.js
  noname/get/index.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P1

#2497 bugfix&函数调整
  card/kaiheiji.js
  character/collab/skill.js
  character/collab/translate.js
  character/extra/skill.js
  character/huicui/skill.js
  character/mobile/skill.js
  character/onlyOL/skill.js
  character/replace.js
  character/sp/skill.js
  character/tw/skill.js
  character/xianding/skill.js
  noname/library/element/card.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Character, App:Card, Status:Done, Level:P2

#2503 部分函数从step-content改contents；bugfix
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/onlyOL/skill.js
  character/sp/characterFilter.js
  character/sp/skill.js
  character/sp/translate.js
  noname/library/element/content.js
Labels: App:Core, Status:Finishing, Level:P2

#2504 bugfix
  card/kaiheiji.js
  character/extra/skill.js
  character/mobile/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/standard/skill.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2505 袁涣【德辱】fix
  character/sp/skill.js
Labels: App:Character, Status:Done, Level:P3

#2507 汉末神贾诩
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/rank.js
  character/replace.js
  image/character/zombie_jiaxu.jpg
  image/character/zombie_zombie.jpg
Labels: App:Character, Status:Finishing, Level:P3

#2508 bugfix
  character/offline/character.js
  character/offline/skill.js
  character/offline/translate.js
Labels: App:Character, Status:Done, Level:P3

#2510 素材补充；bugfix
  audio/die/huan_caopi.mp3
  audio/die/huan_caozhi.mp3
  audio/skill/twhanhong1.mp3
  audio/skill/twhanhong2.mp3
  audio/skill/twhuazhang1.mp3
  audio/skill/twhuazhang2.mp3
  audio/skill/twhuazhang3.mp3
  audio/skill/twjunsi1.mp3
  audio/skill/twjunsi2.mp3
  audio/skill/twjunsi3.mp3
  audio/skill/twjunsi4.mp3
  audio/skill/twqianxiong1.mp3
  audio/skill/twqianxiong2.mp3
  audio/skill/twzhengshi1.mp3
  audio/skill/twzhengshi2.mp3
  audio/skill/twzhengshi3.mp3
  character/mobile/skill.js
  character/tw/skill.js
  character/tw/voices.js
  character/xianding/voices.js
  image/character/huan_caopi.jpg
  image/character/huan_caozhi.jpg
  image/character/huan_dianwei.jpg
  image/character/mb_yanghong.jpg
  image/character/shen_ganning.jpg
  image/character/zhangbu.jpg
Labels: App:Character, Status:Done, Level:P3

#2506 技能修改；bugfix
  card/kaiheiji.js
  card/sp.js
  card/yunchou.js
  character/clan/skill.js
  character/diy/skill.js
  character/extra/skill.js
  character/huicui/skill.js
  character/jsrg/skill.js
  character/key/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/old/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/shiji/skill.js
  character/sixiang/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/skill.js
  character/standard/skill.js
  character/tw/skill.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/skill.js
  character/yingbian/skill.js
  noname/get/index.js
  noname/library/element/content.js
  noname/library/element/gameEvent.js
Labels: App:Character, Status:Done, Level:P3

#2511 bugfix
  character/clan/skill.js
  character/mobile/dynamicTranslate.js
  character/mobile/skill.js
Labels: App:Character, Status:Done, Level:P3

#2515 技能修改；bugfix
  character/clan/skill.js
  character/mobile/skill.js
  character/sp/skill.js
  character/xianding/skill.js
  noname/library/element/player.js
Labels: App:Character, Status:Done, Level:P3

#2517 bugfix&技能调整&新武将
  card/kaiheiji.js
  character/extra/skill.js
  character/extra/translate.js
  character/jsrg/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/offline/card.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/onlyOL/skill.js
  character/rank.js
  character/sixiang/skill.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Done, Level:P2

#2519 bugfix
  character/offline/skill.js
  noname/library/element/content.js
Labels: App:Card, App:Core, Status:Done, Level:P2

#2521 bugfix&技能调整
  card/extra.js
  character/ddd/skill.js
  character/extra/sort.js
  character/key/skill.js
  character/mobile/skill.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/sp/skill.js
  character/swd.js
  character/tw/skill.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianjian.js
  image/character/ca_shen_caocao.jpg
  image/character/ca_shen_lijueguosi.jpg
  image/character/ca_shen_wangyun.jpg
  image/character/jx_shen_caoren.jpg
  image/character/jx_shen_liubiao.jpg
  image/character/pe_wangyun.jpg
  image/character/ps_shen_machao.jpg
  image/character/shen_jiaxu.jpg
  image/character/shen_pangtong.jpg
  image/character/ty_shen_guanyu.jpg
  noname/library/element/card.js
  noname/library/element/content.js
  noname/library/index.js
Labels: App:Character, App:Card, App:Core, Status:Done, Level:P3

#2528 Update characterPackMenu.js
  noname/ui/create/menu/pages/characterPackMenu.js
Labels: App:Core, Status:Done, Level:P3

#2527 技能调整/bug修复/...
  audio/card/female/wanjian.mp3
  audio/card/male/wanjian.mp3
  character/huicui/skill.js
  character/huicui/translate.js
  character/mobile/skill.js
  character/offline/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/skill.js
  character/tw/skill.js
  noname/get/index.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:P2

#2538 bugfix
  character/offline/skill.js
  character/sp/skill.js
Labels: App:Character, Status:Done, Level:P3

#2539 draw函数修复
  character/sp/skill.js
  character/sp/translate.js
  noname/library/element/content.js
Labels: App:Character, Status:Done, Level:P3

#2542 bugfix
  character/huicui/skill.js
  mode/guozhan.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2544 feat: add domain and path support for connect address.
  noname/game/index.js
Labels: App:Core, App:Connect, Status:Done, Level:P3

#2546 线下新武将，bugfix
  card/xianxia.js
  character/offline/character.js
  character/offline/intro.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/rank.js
  character/replace.js
  character/xianding/skill.js
Labels: App:Character, App:Card, Status:Done, Level:P2

#2554 线下陈寿春秋🖊
  image/card/chunqiubi.png
Labels: App:Platform, Status:Done, Level:P3

#2556 技能调整；bugfix
  character/huicui/skill.js
  character/jsrg/skill.js
  character/jsrg/translate.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sp/skill.js
  character/sp/translate.js
  character/tw/skill.js
  character/tw/translate.js
Labels: App:Character, Status:Done, Level:P3

#2563 修复旧 [雷击] 无论判定结果都生效的 bug
  character/shenhua/skill.js
Labels: App:Character, Status:Done, Level:P3

#2561 bugfix；代传鬼神易的PR
  card/sp.js
  card/standard.js
  character/clan/skill.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/onlyOL/skill.js
  mode/boss.js
  mode/chess.js
  mode/versus.js
  noname/library/element/content.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2565 技能修改
  character/key/skill.js
Labels: App:Character, Status:Done, Level:P3

#2568 chore: add eslint on githun actions for auto check.
  .github/workflows/lint-check.yml
Labels: App:Core

#2572 线下华雌衍生卡牌以毒攻毒
  image/card/yidugongdu.png
Labels: Status:Done, Level:P3, App:Visual

#2573 伍孚，bugfix，技能调整
  audio/die/mb_mengda.mp3
  audio/die/mb_zhangyan.mp3
  audio/skill/mbfeijing1.mp3
  audio/skill/mbfeijing2.mp3
  audio/skill/mbfeijing3.mp3
  audio/skill/mbfeijing4.mp3
  audio/skill/mbjili1.mp3
  audio/skill/mbjili2.mp3
  audio/skill/mbjili3.mp3
  audio/skill/mbjili4.mp3
  audio/skill/mbjili5.mp3
  audio/skill/mbjili6.mp3
  audio/skill/mbjili7.mp3
  audio/skill/mbjili8.mp3
  audio/skill/mbjili9.mp3
  audio/skill/mbshishu1.mp3
  audio/skill/mbshishu2.mp3
  audio/skill/mbxiaoge1.mp3
  audio/skill/mbxiaoge2.mp3
  audio/skill/mbxiaoge3.mp3
  audio/skill/mbxiaoge4.mp3
  character/jsrg/skill.js
  character/mobile/skill.js
  character/mobile/voices.js
  character/newjiang/character.js
  character/newjiang/skill.js
  character/newjiang/sort.js
  character/newjiang/translate.js
  character/offline/skill.js
  character/onlyOL/skill.js
  character/rank.js
  character/replace.js
  character/sb/skill.js
  character/sp/skill.js
  character/xianding/skill.js
  character/xianding/translate.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:P2

#2575 回滚内容补充
  character/jsrg/skill.js
  character/onlyOL/skill.js
Labels: App:Character, Status:Done, Level:P3

#2578 修复缩放界面设置
  noname/library/index.js
Labels: App:Core, Status:Done, Level:P3, App:Visual

#2582 对新缩放设置进行些调整
  noname/library/index.js
  noname/ui/create/index.js
Labels: App:Core, Status:Done, Level:P3, App:Visual

#2581 技能修改；bugfix
  card/kaiheiji.js
  character/collab/skill.js
  character/extra/skill.js
  character/huicui/dynamicTranslate.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/jsrg/skill.js
  character/newjiang/character.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/old/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/shenhua/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/xianding/skill.js
  mode/boss.js
  mode/chess.js
  mode/guozhan.js
  mode/versus.js
  noname/game/index.js
  noname/get/index.js
  noname/library/element/content.js
Labels: App:Core, Status:Done, Level:P1

#2595 重置郭嘉表情包
  image/emotion/guojia_emotion/1.gif
  image/emotion/guojia_emotion/10.gif
  image/emotion/guojia_emotion/11.gif
  image/emotion/guojia_emotion/12.gif
  image/emotion/guojia_emotion/13.gif
  image/emotion/guojia_emotion/14.gif
  image/emotion/guojia_emotion/15.gif
  image/emotion/guojia_emotion/16.gif
  image/emotion/guojia_emotion/17.gif
  image/emotion/guojia_emotion/18.gif
  image/emotion/guojia_emotion/19.gif
  image/emotion/guojia_emotion/2.gif
  image/emotion/guojia_emotion/20.gif
  image/emotion/guojia_emotion/3.gif
  image/emotion/guojia_emotion/4.gif
  image/emotion/guojia_emotion/5.gif
  image/emotion/guojia_emotion/6.gif
  image/emotion/guojia_emotion/7.gif
  image/emotion/guojia_emotion/8.gif
  image/emotion/guojia_emotion/9.gif
Labels: Status:Done, Level:P3, App:Visual

#2597 技能效果调整，bugfix
  character/clan/skill.js
  character/collab/translate.js
  character/extra/translate.js
  character/jsrg/skill.js
  character/newjiang/character.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/tw/skill.js
  noname/game/index.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2588 修改乱斗模式，在创建关卡的时候可以选择一个"循环测试"的模式
  mode/brawl.js
Labels: App:Mode, Status:Done, Level:P3

#2632 bugfix
  card/gujian.js
  card/swd.js
  card/xianxia.js
  card/yongjian.js
  character/collab/card.js
  character/offline/card.js
  character/sp/skill.js
  character/sxrm/skill.js
  character/xianding/card.js
  character/xianding/skill.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Done, Level:P3
