Repository libnoname/noname, pull requests merged in 2025-01, with the labels that each got.

#2197 修复势太史慈【振锋】技能必须两项全选的Bug
  character/mobile/skill.js
Labels: App:Character, Status:Done

#2200 chore: add `.prettierrc`.
  .editorconfig
  .prettierrc
Labels: App:Misc, Status:Done, Level:Zephyr

#2201 修复上次修改的addTrigger问题
  noname/library/element/gameEvent.js
Labels: App:Character, Status:Done, Level:Vulcan

#2205 去除国战选将的体力限制
  mode/guozhan.js
Labels: App:Mode, Status:Done, Level:Zephyr

#2203 燕幽公孙瓒骑阵、神华佗游医bugfix；界朱然胆守重写
  character/extra/skill.js
  character/offline/skill.js
  character/yijiang/skill.js
  noname/init/polyfill.js
Labels: App:Character, Status:Done, Level:Tide

#2209 WIP 拷打刘巴
  character/collab/skill.js
Labels: App:Character, App:Connect, Status:Doing, Level:Tide

#2207 部分技能的cost选择和content执行分离；补齐遗漏的addSkillLog与addSkills的替换
  character/diy/skill.js
  character/jsrg/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shiji/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/tw/skill.js
  character/xianding/skill.js
  character/yijiang/skill.js
  character/yingbian/skill.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Character, Status:Done, Level:Zephyr

#2212 bugfix；国战去除": function "
  character/clan/skill.js
  character/collab/skill.js
  character/mobile/skill.js
  character/onlyOL/skill.js
  character/sp/skill.js
  mode/guozhan.js
Labels: App:Mode, App:Character, Status:Finishing, Level:Tide

#2213 悲
  character/clan/skill.js
  character/clan/translate.js
Labels: App:Character, Status:Done, Level:Tide
