Repository libnoname/noname, pull requests merged in 2025-06, with the labels that each got.

#2654 谋吕布调整
  character/sb/skill.js
  character/sb/translate.js
  character/standard/skill.js
  mode/boss.js
  mode/chess.js
  mode/versus.js
  noname/library/element/content.js
Labels: App:Character, Level:P3

#2665 ol新将与调整
  character/onlyOL/character.js
  character/rank.js
  character/replace.js
  character/sp/character.js
  character/sp/skill.js
  character/sp/sort.js
  character/sp/translate.js
  character/tw/translate.js
Labels: App:Character, Status:Done, Level:P3

#2690 技能函数修改
  character/extra/skill.js
  character/extra/translate.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/sb/skill.js
  character/sp2/skill.js
  character/xianding/skill.js
  node_modules/@types/noname-typings/nonameModules/noname/library/element/player.d.ts
  noname/game/index.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2688 优化卡牌ai&bugfix&技能修改&&新武将
  card/kaiheiji.js
  character/diy/character.js
  character/diy/characterTitles.js
  character/diy/skill.js
  character/diy/sort.js
  character/diy/translate.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/mobile/skill.js
  character/offline/skill.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/rank.js
  character/refresh/skill.js
  character/sixiang/card.js
  character/sixiang/character.js
  character/sixiang/skill.js
  character/sixiang/sort.js
  character/sixiang/translate.js
  character/xianding/dynamicTranslate.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/skill.js
  mode/guozhan/src/skill/character/yingbian.js
Labels: App:Character, App:Card, Status:Done, Level:P3

#2695 新武将任婉，技能调整
  character/clan/skill.js
  character/mobile/dynamicTranslate.js
  character/offline/character.js
  character/rank.js
  character/replace.js
  character/sixiang/character.js
  character/sixiang/intro.js
  character/sixiang/sort.js
  character/sixiang/translate.js
  character/sp/skill.js
  character/tw/skill.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  image/character/std_caoxiong.jpg
  image/character/std_huangchong.jpg
  image/character/std_jiangjie.jpg
  image/character/std_maohuanghou.jpg
  image/character/std_panglin.jpg
  image/character/std_wangfuren.jpg
  image/character/std_zhangyao.jpg
  image/character/std_zhengcong.jpg
Labels: App:Character, Status:Done, Level:P3

#2707 神鲁肃【榻谟】微调
  character/extra/skill.js
  node_modules/@types/noname-typings/Skill.d.ts
Labels: App:Character, Status:Done, Level:P3

#2703 修复Event类型在沙盒里面的使用
  noname/game/index.js
  noname/library/element/client.js
  noname/util/initRealms.js
  noname/util/sandbox.js
  noname/util/security.js
Labels: App:Misc, Status:Finishing, Note:Pending, Level:P2

#2717 修复死亡玩家的可选中状态下的高亮效果
  layout/default/layout.css
Labels: Status:Done, Level:P3, App:Visual

#2720 斗地主休闲模式添加加强地主和〖飞扬〗版本选项；技能调整；bugfix
  character/extra/skill.js
  character/extra/translate.js
  character/tw/skill.js
  mode/doudizhu.js
  noname/library/index.js
Labels: App:Mode, App:Character, Status:Done, Level:P3

#2719 bugfix&卡牌包名修改
  card/huodong.js
  card/sp.js
  character/huicui/skill.js
  character/jsrg/skill.js
  character/mobile/skill.js
  character/offline/skill.js
  character/old/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/sp/skill.js
  character/xianding/skill.js
  character/yijiang/skill.js
  game/package.js
  mode/guozhan/src/skill/character/yingbian.js
  noname/library/element/player.js
Labels: App:Character, App:Card, App:Core, Status:Doing, Level:P3

#2722 代鹿鹿喵pr【天雷】、【两肋插刀】、【义父】
  card/huodong.js
Labels: App:Card, Status:Done, Level:P2

#2726 十周年张琪瑛*2，忍邓艾，忍姜维；技能调整
  audio/die/clan_yangbiao.mp3
  audio/die/star_wenchou.mp3
  audio/skill/clanjiannan1.mp3
  audio/skill/clanjiannan2.mp3
  audio/skill/clanquhuo_clan_yangbiao1.mp3
  audio/skill/clanquhuo_clan_yangbiao2.mp3
  audio/skill/clanyichi1.mp3
  audio/skill/clanyichi2.mp3
  audio/skill/starlianzhan1.mp3
  audio/skill/starlianzhan2.mp3
  audio/skill/starweiming1.mp3
  audio/skill/starweiming2.mp3
  character/clan/skill.js
  character/clan/voices.js
  character/collab/character.js
  character/collab/dynamicTranslate.js
  character/collab/skill.js
  character/collab/sort.js
  character/collab/translate.js
  character/ddd/skill.js
  character/extra/skill.js
  character/extra/translate.js
  character/mobile/sort.js
  character/offline/skill.js
  character/offline/translate.js
  character/rank.js
  character/replace.js
  character/shenhua/skill.js
  character/sp/sort.js
  character/sp2/character.js
  character/sp2/skill.js
  character/sp2/translate.js
  character/sp2/voices.js
  character/standard/skill.js
  character/xianding/character.js
  character/xianding/dynamicTranslate.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  image/character/ren_dengai.jpg
  image/character/ren_jiangwei.jpg
  image/character/star_wenchou.jpg
  image/character/x_dc_zhangqiying.jpg
  image/character/y_dc_zhangqiying.jpg
  mode/guozhan/src/skill/character/normal.js
  mode/guozhan/src/skill/character/rest.js
  mode/guozhan/src/skill/character/yingbian.js
  mode/guozhan/src/translate/dynamic.js
  mode/guozhan/src/translate/rest.js
  mode/guozhan/src/translate/skill/character/yingbian.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:P2

#2727 修正logAudio
  character/mobile/index.js
  character/mobile/skill.js
Labels: App:Platform, Status:Done, Level:P3

#2732 bugfix，新武将介绍补充
  character/clan/intro.js
  character/collab/skill.js
  character/huicui/intro.js
  character/mobile/character.js
  character/mobile/index.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/xianding/intro.js
  character/xianding/skill.js
  image/character/mb_simazhao.jpg
  image/character/mb_simazhao_shadow.jpg
  image/character/ol_jianyong.jpg
  image/character/old_huangfusong.jpg
  image/character/old_quancong.jpg
  image/character/std_simazhao.jpg
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2728 开黑节三个卡牌
  image/card/chadaox.png
  image/card/tianlei.png
  image/card/yifu.png
Labels: Status:Done, Level:P3, App:Visual

#2736 代鹿鹿提交荡异的酒效果
  character/jsrg/skill.js
  character/mobile/skill.js
Labels: App:Character, Status:Done, Level:P3, App:Visual

#2730 调整部分默认配置；临时关闭素材在线更新弹窗
  character/offline/skill.js
  character/sp2/skill.js
  character/tw/skill.js
  game/config.js
  mode/doudizhu.js
  noname/library/index.js
  noname/ui/create/index.js
Labels: App:Platform, Status:Done, Level:P2, App:Visual

#2737 OL鲍三娘；牢萌的牢武将移动计划；bugfix
  character/extra/character.js
  character/extra/sort.js
  character/extra/translate.js
  character/mobile/index.js
  character/newjiang/character.js
  character/newjiang/sort.js
  character/newjiang/translate.js
  character/old/character.js
  character/old/sort.js
  character/old/translate.js
  character/sp/character.js
  character/sp/skill.js
  character/sp/translate.js
  character/xianding/character.js
  character/xianding/sort.js
  character/xianding/translate.js
  image/character/ol_baosanniang.jpg
Labels: App:Character, Status:Done, Level:P3
