Repository libnoname/noname, pull requests merged in 2025-04, with the labels that each got.

#2422 更新v1.10.17.1的`asset.js`和类型提示
  game/asset.js
  node_modules/@types/noname-typings/nonameModules/noname/get/pinyins/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/cache/cacheContext.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/update.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/config.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/error.d.ts
Labels: App:Overall

#2424 bugfix
  card/standard.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/key/skill.js
  character/mobile/skill.js
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/skill.js
  character/sixiang/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/skill.js
  character/yingbian/skill.js
Labels: App:Character, App:Core, Status:Done, Level:P1

#2426 bugfix
  character/clan/skill.js
  character/diy/skill.js
  character/diy/translate.js
  character/huicui/skill.js
  character/mobile/dynamicTranslate.js
  character/mobile/skill.js
  character/offline/skill.js
  character/sp2/skill.js
  character/tw/skill.js
  character/xianding/skill.js
Labels: App:Character, Status:Done, Level:P1

#2431 bugfix；添加boss挑战黑名单接口
  mode/boss.js
Labels: App:Mode, Status:Done, Level:P3

#2428 新武将&技能跟进&bugfix&新函数
  character/clan/character.js
  character/clan/intro.js
  character/clan/skill.js
  character/clan/sort.js
  character/clan/translate.js
  character/huicui/character.js
  character/huicui/dynamicTranslate.js
  character/huicui/skill.js
  character/huicui/sort.js
  character/huicui/translate.js
  character/mobile/character.js
  character/mobile/dynamicTranslate.js
  character/mobile/intro.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/replace.js
  character/sp/character.js
  character/sp/skill.js
  character/sp/sort.js
  character/sp/translate.js
  character/tw/skill.js
  character/tw/translate.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Done

#2429 bugfix；函数优化
  character/clan/skill.js
  character/clan/translate.js
  character/newjiang/skill.js
  character/xianding/skill.js
  noname/library/element/content.js
  noname/ui/create/menu/pages/exetensionMenu.js
Labels: App:Character, Status:Done, Level:P2

#2456 E系列货号信息补充，武将调整
  character/huicui/character.js
  character/offline/index.js
Labels: App:Character, Status:Done, Level:P3

#2457 修复；修复；修复
  character/mobile/translate.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sp/skill.js
  character/sp/translate.js
Labels: App:Character, Status:Done, Level:P3

#2462 pref: add go compat code.
  index.html
Labels: App:Core

#2468 bugfix；代传鬼神易的PR
  character/collab/skill.js
  character/collab/translate.js
  character/huicui/translate.js
  character/jsrg/skill.js
  character/mobile/dynamicTranslate.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/refresh/translate.js
  character/sb/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/skill.js
  character/sp2/translate.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  noname/get/index.js
  noname/get/is.js
  noname/library/element/character.js
  noname/library/index.js
  noname/ui/create/menu/pages/exetensionMenu.js
Labels: App:Character, App:Core, Status:Done, Level:P1

#2465 bugfix&技能修改&新武将
  character/clan/character.js
  character/clan/skill.js
  character/clan/translate.js
  character/extra/skill.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/mobile/skill.js
  character/offline/skill.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/rank.js
  character/replace.js
  character/sb/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/skill.js
  character/tw/skill.js
  character/xianding/character.js
  character/xianding/intro.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  noname/get/index.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P2

#2471 修复“一个可能的逻辑错误”，下
  noname/library/element/content.js
Labels: App:Core, Status:Done, Level:P3

#2474 bugfix
  character/extra/skill.js
  character/mobile/skill.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Core, Status:Done, Level:P1

#2472 bugfix&新武将&技能调整
  character/collab/character.js
  character/collab/index.js
  character/collab/skill.js
  character/collab/sort.js
  character/collab/translate.js
  character/newjiang/skill.js
  character/rank.js
  character/replace.js
  character/sb/character.js
  character/xianding/character.js
  character/xianding/dynamicTranslate.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  noname/get/index.js
  noname/library/element/card.js
  noname/library/element/content.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P2

#2477 素材补充
  audio/skill/qingjue2.mp3
  character/shiji/voices.js
  image/character/clan_yangxiu.jpg
  image/character/clan_yangzhong.jpg
  image/character/ol_lifeng.jpg
  image/character/ol_madai.jpg
  image/character/ol_sb_zhangrang.jpg
  image/character/ol_sb_zhangrang_shadow.jpg
  image/character/ol_zhaozhong.jpg
  image/character/yuanshaoyuanshu.jpg
  image/character/yuanshaoyuanshu_shao.jpg
  image/character/yuanshaoyuanshu_shu.jpg
Labels: App:Platform, Status:Done, Level:P3

#2476 荆扬对垒
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/rank.js
  character/replace.js
  character/tw/skill.js
  node_modules/@types/noname-typings/NonameAssemblyType.d.ts
  noname/library/assembly/buildin.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:P1

#2454 将扩展《富甲天下》所有的构造函数变成类，重写help对象
  extension/boss/extension.js
  extension/cardpile/extension.js
  extension/coin/extension.js
  extension/wuxing/extension.js
Labels: App:Mode, App:Extension, Status:Done, Level:P2

#2480 bugfix；蛇年限定十常侍
  character/collab/skill.js
  character/huicui/translate.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/rank.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/shiji/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/xianding/skill.js
  character/yingbian/skill.js
  mode/boss.js
  noname/library/element/player.js
Labels: App:Character, Status:Done, Level:P1

#2483 素材补充
  image/character/jy_caocao.jpg
  image/character/jy_caoren.jpg
  image/character/jy_huanggai.jpg
  image/character/jy_lusu.jpg
  image/character/jy_pangtong.jpg
  image/character/jy_zhangzhao.jpg
  image/character/jy_zhouyu.jpg
  image/character/jy_zhugeliang.jpg
  image/character/pot_yuji.jpg
  image/character/pot_yuji_shadow.jpg
  image/character/ps_bilan.jpg
  image/character/ps_duangui.jpg
  image/character/ps_gaowang.jpg
  image/character/ps_guosheng.jpg
  image/character/ps_hankui.jpg
  image/character/ps_lisong.jpg
  image/character/ps_sunzhang.jpg
  image/character/ps_xiayun.jpg
  image/character/ps_zhangrang.jpg
  image/character/ps_zhaozhong.jpg
Labels: App:Platform, Status:Done, Level:P3

#2492 feat: provide symbol detection for `Get#info`.
  noname/get/index.js
Labels: App:Core
