Repository libnoname/noname, pull requests merged in 2025-03, with the labels that each got.

#2294 四个新武将；技能修改；bugfix
  character/collab/character.js
  character/collab/intro.js
  character/collab/skill.js
  character/collab/sort.js
  character/collab/translate.js
  character/jsrg/skill.js
  character/mobile/skill.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/refresh/skill.js
  character/sixiang/skill.js
  character/sp/character.js
  character/sp/intro.js
  character/sp/skill.js
  character/sp/sort.js
  character/sp/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/skill.js
  character/yingbian/skill.js
  image/card/tianshu1.png
  image/card/tianshu2.png
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:Limbo

#2287 规范化同名替换
  character/offline/sort.js
  character/offline/translate.js
  character/rank.js
  character/replace.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:Limbo

#2303 技能编辑器中显示和保存表层的getter和setter以及Symbol
  noname/ui/create/menu/pages/exetensionMenu.js
Labels: App:Core, Status:Finishing, Level:Limbo

#2301 技能调整；bugfix
  character/collab/translate.js
  character/jsrg/skill.js
  character/offline/character.js
  character/refresh/skill.js
  noname/get/index.js
Labels: App:Character, Status:Finishing, Level:Zephyr

#2316 新武将ing
  character/collab/character.js
  character/collab/intro.js
  character/collab/skill.js
  character/collab/sort.js
  character/collab/translate.js
  character/extra/skill.js
  character/huicui/character.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/jsrg/voices.js
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/replace.js
  character/sb/character.js
  character/sb/skill.js
  character/sb/sort.js
  character/sb/translate.js
  character/sp/character.js
  character/sp/skill.js
  character/sp/sort.js
  character/sp/translate.js
  character/sp2/skill.js
  character/sp2/translate.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
Labels: App:Character, Status:Done, Level:Tide

#2325 神司马忍戒fix
  character/extra/skill.js
  character/extra/translate.js
Labels: App:Character, Status:Done, Level:Zephyr

#2326 转黄忠、浮云fix；黄豆表情包
  character/jsrg/skill.js
  character/offline/skill.js
  character/offline/translate.js
  image/emotion/huangdou_emotion/1.gif
  image/emotion/huangdou_emotion/10.gif
  image/emotion/huangdou_emotion/11.gif
  image/emotion/huangdou_emotion/12.gif
  image/emotion/huangdou_emotion/13.gif
  image/emotion/huangdou_emotion/14.gif
  image/emotion/huangdou_emotion/15.gif
  image/emotion/huangdou_emotion/16.gif
  image/emotion/huangdou_emotion/17.gif
  image/emotion/huangdou_emotion/18.gif
  image/emotion/huangdou_emotion/19.gif
  image/emotion/huangdou_emotion/2.gif
  image/emotion/huangdou_emotion/20.gif
  image/emotion/huangdou_emotion/21.gif
  image/emotion/huangdou_emotion/22.gif
  image/emotion/huangdou_emotion/23.gif
  image/emotion/huangdou_emotion/24.gif
  image/emotion/huangdou_emotion/25.gif
  image/emotion/huangdou_emotion/26.gif
  image/emotion/huangdou_emotion/27.gif
  image/emotion/huangdou_emotion/28.gif
  image/emotion/huangdou_emotion/29.gif
  image/emotion/huangdou_emotion/3.gif
  image/emotion/huangdou_emotion/30.gif
  image/emotion/huangdou_emotion/31.gif
  image/emotion/huangdou_emotion/32.gif
  image/emotion/huangdou_emotion/33.gif
  image/emotion/huangdou_emotion/34.gif
  image/emotion/huangdou_emotion/35.gif
  image/emotion/huangdou_emotion/36.gif
  image/emotion/huangdou_emotion/37.gif
  image/emotion/huangdou_emotion/38.gif
  image/emotion/huangdou_emotion/39.gif
  image/emotion/huangdou_emotion/4.gif
  image/emotion/huangdou_emotion/40.gif
  image/emotion/huangdou_emotion/41.gif
  image/emotion/huangdou_emotion/42.gif
  image/emotion/huangdou_emotion/43.gif
  image/emotion/huangdou_emotion/44.gif
  image/emotion/huangdou_emotion/45.gif
  image/emotion/huangdou_emotion/46.gif
  image/emotion/huangdou_emotion/47.gif
  image/emotion/huangdou_emotion/48.gif
  image/emotion/huangdou_emotion/49.gif
  image/emotion/huangdou_emotion/5.gif
  image/emotion/huangdou_emotion/50.gif
  image/emotion/huangdou_emotion/6.gif
  image/emotion/huangdou_emotion/7.gif
  image/emotion/huangdou_emotion/8.gif
  image/emotion/huangdou_emotion/9.gif
  noname/library/index.js
Labels: App:Character, Status:Done, Level:Zephyr

#2328 卡牌AI修复
  card/standard.js
  card/yunchou.js
Labels: App:Card, Status:Done, Level:Tide

#2327 技能修改；bugfix；代传鬼神易的PR；
  card/standard.js
  character/clan/skill.js
  character/diy/skill.js
  character/diy/translate.js
  character/extra/skill.js
  character/jsrg/skill.js
  character/key/skill.js
  character/key/translate.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/offline/skill.js
  character/offline/translate.js
  character/old/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/sp/dynamicTranslate.js
  character/sp/skill.js
  character/sp/translate.js
  character/tw/skill.js
  character/xianding/skill.js
  character/yijiang/skill.js
  character/yingbian/skill.js
  noname/library/element/content.js
Labels: App:Character, App:Core, Status:Done, Level:Tide

#2321 新武将②
  character/extra/skill.js
  character/extra/translate.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/mobile/character.js
  character/mobile/intro.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/old/skill.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/replace.js
  character/sb/character.js
  character/sb/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/tw/skill.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  character/yijiang/skill.js
Labels: App:Character, Status:Done, Level:Tide

#2323 素材+分包调整
  audio/die/friend_cuijun.mp3
  audio/die/friend_shitao.mp3
  audio/die/jsrg_lougui.mp3
  audio/die/mb_qinghegongzhu.mp3
  audio/die/pot_lougui.mp3
  audio/die/sb_xiahouyuan.mp3
  audio/skill/dcsaima1.mp3
  audio/skill/dcsaima2.mp3
  audio/skill/dcweiji1.mp3
  audio/skill/dcweiji2.mp3
  audio/skill/friendbiwei1.mp3
  audio/skill/friendbiwei2.mp3
  audio/skill/friendgongli_cuijun1.mp3
  audio/skill/friendgongli_cuijun2.mp3
  audio/skill/friendgongli_shitao1.mp3
  audio/skill/friendgongli_shitao2.mp3
  audio/skill/friendlunxiong1.mp3
  audio/skill/friendlunxiong2.mp3
  audio/skill/friendqinying1.mp3
  audio/skill/friendqinying2.mp3
  audio/skill/friendqinying3.mp3
  audio/skill/friendqinying4.mp3
  audio/skill/friendshunyi1.mp3
  audio/skill/friendshunyi2.mp3
  audio/skill/jsrgninghan1.mp3
  audio/skill/jsrgninghan2.mp3
  audio/skill/jsrgshacheng1.mp3
  audio/skill/jsrgshacheng2.mp3
  audio/skill/jsrgshacheng3.mp3
  audio/skill/mbfeili1.mp3
  audio/skill/mbfeili2.mp3
  audio/skill/mbzengou1.mp3
  audio/skill/mbzengou2.mp3
  audio/skill/mbzengou3.mp3
  audio/skill/pot_lougui.mp3
  audio/skill/potguansha1.mp3
  audio/skill/potguansha2.mp3
  audio/skill/potjiyu1.mp3
  audio/skill/potjiyu2.mp3
  audio/skill/potjiyu3.mp3
  audio/skill/sbshensu1.mp3
  audio/skill/sbshensu2.mp3
  audio/skill/sbzhengzi1.mp3
  audio/skill/sbzhengzi2.mp3
  character/collab/voices.js
  character/jsrg/voices.js
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/voices.js
  character/onlyOL/sort.js
  character/refresh/skill.js
  character/sb/sort.js
  character/sb/voices.js
  character/shiji/skill.js
  character/sp/sort.js
Labels: Status:Done, Level:Tide, App:Visual

#2332 线上江山如故；bugfix
  character/jsrg/skill.js
  character/mobile/character.js
  character/mobile/index.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/replace.js
  character/sp/skill.js
  character/sp/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  noname/library/index.js
Labels: App:Character, Status:Doing, Level:Tide

#2334 八个菲克斯
  card/gujian.js
  card/gwent.js
  card/mtg.js
  character/collab/skill.js
  character/ddd/skill.js
  character/diy/skill.js
  character/extra/skill.js
  character/extra/translate.js
  character/gwent.js
  character/hearth.js
  character/huicui/skill.js
  character/key/skill.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/ow.js
  character/refresh/skill.js
  character/shenhua/skill.js
  character/shiji/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/sp2/translate.js
  character/swd.js
  character/tw/character.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/xianjian.js
  character/yijiang/skill.js
  character/yingbian/skill.js
  noname/game/index.js
  noname/get/audio.js
  noname/get/audio.ts
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:Vulcan

#2346 修复转化牌报错
  noname/game/index.js
Labels: App:Core

#2345 fix: 修复了智囊 发动时描述问题。
  mode/versus.js
Labels: App:Character

#2339 技能修改；bugfix
  card/guozhan.js
  card/standard.js
  card/yongjian.js
  character/collab/translate.js
  character/diy/skill.js
  character/diy/translate.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/jsrg/skill.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/sp/skill.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/skill.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/ui/click/index.js
Labels: App:Character, App:Card, App:Core, Status:Done

#2347 新增各服武将&技能修改&bugfix
  character/mobile/character.js
  character/mobile/intro.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/rank.js
  character/replace.js
  character/sb/character.js
  character/sb/skill.js
  character/sb/sort.js
  character/sb/translate.js
  character/sp/character.js
  character/sp/skill.js
  character/sp/sort.js
  character/sp/translate.js
  character/tw/skill.js
  character/xianding/character.js
  character/xianding/dynamicTranslate.js
  character/xianding/index.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
Labels: App:Character, Status:Doing, Level:P2

#2362 继续代传鬼神易的PR
  noname/library/element/player.js
Labels: App:Core, Status:Done, Level:P2

#2356 Fix 粮营; fix typo
  character/huicui/skill.js
  node_modules/@types/noname-typings/nonameModules/noname/library/element/player.d.ts
  noname/library/element/player.js
Labels: App:Character, Status:Done, Level:P2

#2364 素材补充
  audio/die/caoyuan.mp3
  audio/die/ol_wuanguo.mp3
  audio/skill/dcwuyan1.mp3
  audio/skill/dcwuyan2.mp3
  audio/skill/dczhanyu1.mp3
  audio/skill/dczhanyu2.mp3
  audio/skill/olliyong1.mp3
  audio/skill/olliyong2.mp3
  character/mobile/sort.js
  character/sb/sort.js
  character/sp/sort.js
  character/sp/voices.js
  character/xianding/sort.js
  character/xianding/translate.js
  character/xianding/voices.js
  image/character/sb_xunyu.jpg
  image/character/sunhong.jpg
Labels: App:Character, Status:Doing, Level:P3

#2365 feat: add workflow of closure of stale issue and pull-request.
  .github/workflows/close-stale-issues.yml
Labels: App:Misc

#2372 技能修改；bugfix
  card/sp.js
  card/standard.js
  character/collab/skill.js
  character/ddd/skill.js
  character/ddd/translate.js
  character/huicui/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sb/skill.js
  character/shenhua/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  noname/library/index.js
Labels: App:Character, App:Card, Status:Done, Level:P1

#2379 技能修改；bugfix
  card/standard.js
  character/ddd/translate.js
  character/offline/skill.js
  character/sp/skill.js
Labels: App:Character, App:Card, Status:Done, Level:P1

#2385 bugfix&信息补充&新武将
  character/clan/skill.js
  character/mobile/skill.js
  character/offline/intro.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/replace.js
  character/sb/sort.js
  character/tw/skill.js
  character/xianding/character.js
  character/xianding/intro.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  mode/single.js
  noname/library/element/content.js
Labels: App:Character, App:Core

#2391 bugfix；代传鬼神易的PR
  character/newjiang/character.js
  character/offline/character.js
  noname/get/index.js
Labels: App:Core, Status:Done, Level:P1

#2393 界左慈【化身】bugfix
  character/refresh/skill.js
Labels: App:Character, Status:Done, Level:P3

#2394 bugfix&新武将&技能修改
  character/clan/sort.js
  character/collab/translate.js
  character/diy/character.js
  character/extra/character.js
  character/huicui/character.js
  character/jsrg/character.js
  character/jsrg/skill.js
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/offline/character.js
  character/onlyOL/character.js
  character/refresh/character.js
  character/replace.js
  character/sb/character.js
  character/shenhua/character.js
  character/sp/character.js
  character/standard/character.js
  character/tw/character.js
  character/tw/intro.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  noname/game/index.js
  noname/library/element/gameEvent.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done

#2397 hasUsableCard进一步优化；bugfix
  character/refresh/skill.js
  character/sp/skill.js
  noname/library/element/player.js
Labels: App:Character, Status:Done, Level:P1

#2402 bugfix&技能修改
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sb/sort.js
  character/xianding/dynamicTranslate.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/skill.js
Labels: App:Character, Status:Done

#2401 bugfix；移除alter技能属性及其机制
  character/ddd/skill.js
  character/diy/card.js
  character/diy/skill.js
  character/extra/translate.js
  character/gujian.js
  character/gwent.js
  character/hearth.js
  character/key/skill.js
  character/mtg.js
  character/newjiang/character.js
  character/ow.js
  character/swd.js
  character/xianjian.js
  character/yxs.js
  game/asset.js
  game/config.js
  game/source.js
  image/character/baiwuchang.jpg
  image/character/heiwuchang.jpg
  image/character/mamian.jpg
  image/character/nianshou.jpg
  image/character/niutou.jpg
  image/character/swd_zhanglie.jpg
  image/character/wenqin.jpg
  image/mode/boss/character/boss_satan.jpg
  image/mode/boss/character/boss_shuijing.jpg
  image/mode/boss/character/boss_sunshangxiang.jpg
  image/mode/boss/character/boss_yuji.jpg
  image/mode/stone/character/stone_wujiyuansu.jpg
  image/mode/tafang/character/tafang_mech_shanggukanshou.jpg
  image/mode/tafang/character/tafang_mech_toushiche.jpg
  image/mode/tafang/character/tafang_mech_tutengzhen.jpg
  mode/boss.js
  mode/stone.js
  noname/game/index.js
  noname/get/audio.js
  noname/get/index.js
  noname/get/is.js
  noname/library/index.js
  noname/ui/click/index.js
  noname/ui/create/menu/pages/characterPackMenu.js
Labels: App:Character, Status:Done, Level:P2

#2405 四象封印太阳
  character/rank.js
  character/replace.js
  character/sixiang/character.js
  character/sixiang/skill.js
  character/sixiang/sort.js
  character/sixiang/translate.js
  character/sp/skill.js
  character/sp/translate.js
Labels: App:Character, Status:Done, Level:P1

#2409 bugfix
  character/sixiang/skill.js
  character/sixiang/translate.js
  character/sp/skill.js
  character/sp/translate.js
Labels: App:Character, Status:Done, Level:P0
