Repository libnoname/noname, pull requests merged in 2025-07, with the labels that each got.

#2749 配置适配
  noname/ui/create/index.js
Labels: App:Mode, Status:Done, Level:P3

#2755 修改direct标签的描述
  node_modules/@types/noname-typings/Skill.d.ts
Labels: App:Misc, Status:Done, Level:P3

#2743 bugfix&技能修改
  character/clan/skill.js
  character/jsrg/skill.js
  character/key/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/skill.js
  character/sb/dynamicTranslate.js
  character/sb/skill.js
  character/sb/translate.js
  character/shiji/skill.js
  character/sixiang/skill.js
  character/sp/skill.js
  character/xianding/skill.js
  image/character/fx_baosanniang.jpg
  image/character/sy_baosanniang.jpg
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2761 删除掉天书的filter 0+部分
  character/sp/skill.js
Labels: App:Character, Status:Done, Level:P2

#2773 添加重置无效扩展配置信息选项
  noname/library/index.js
Labels: App:Misc, Status:Done, Level:P3

#2781 新卡牌&新武将&bugfix
  card/huodong.js
  card/standard.js
  character/clan/skill.js
  character/collab/character.js
  character/huicui/skill.js
  character/jsrg/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/character.js
  character/newjiang/skill.js
  character/newjiang/sort.js
  character/newjiang/translate.js
  character/onlyOL/skill.js
  character/rank.js
  character/replace.js
  character/sb/skill.js
  character/sb/translate.js
  character/sp/character.js
  character/sp/dynamicTranslate.js
  character/sp/skill.js
  character/sp/sort.js
  character/sp/translate.js
  character/tw/skill.js
  character/xianding/skill.js
  mode/guozhan/src/translate/rest.js
  noname/game/index.js
  noname/library/element/content.js
Labels: App:Character, App:Card, Status:Done, Level:P3

#2786 代提牢狂的logAudio2修复
  image/character/nezha.jpg
  noname/get/audio.js
  noname/get/audio.ts
Labels: Status:Done, Level:P3

#2795 技能函数修改；bugfix
  audio/skill/paoxiao_guanzhang2.mp3
  audio/skill/wusheng_guanzhang2.mp3
  card/standard.js
  character/collab/skill.js
  character/extra/skill.js
  character/jsrg/skill.js
  character/key/skill.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/old/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/shenhua/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/xianding/skill.js
  character/yijiang/skill.js
  character/yijiang/voices.js
  character/yingbian/translate.js
  mode/guozhan/src/skill/character/rest.js
  mode/versus.js
  noname/game/index.js
  noname/library/element/content.js
Labels: App:Character, App:Card, App:Core, Status:Done, Level:P3

#2806 修复lib.element.content.addJudge检查销毁实体牌的bug
  noname/library/element/content.js
Labels: App:Core, Status:Done, Level:P3

#2811 补充李儒拳头素材
  image/card/olhuaquan_heavy.png
  image/card/olhuaquan_light.png
Labels: App:Character, Status:Done

#2810 素材补充
  audio/die/dm_diaochan.mp3
  audio/die/dm_lvbu.mp3
  audio/die/ol_guanhai.mp3
  audio/die/ol_guanzhang.mp3
  audio/die/wild_liru.mp3
  audio/skill/olduoqi1.mp3
  audio/skill/olduoqi2.mp3
  audio/skill/olfuhun1.mp3
  audio/skill/olfuhun2.mp3
  audio/skill/olgangquan1.mp3
  audio/skill/olgangquan2.mp3
  audio/skill/olhuanhuo1.mp3
  audio/skill/olhuanhuo2.mp3
  audio/skill/olhuaquan1.mp3
  audio/skill/olhuaquan2.mp3
  audio/skill/olkuangmo1.mp3
  audio/skill/olkuangmo2.mp3
  audio/skill/olkuangmo3.mp3
  audio/skill/olqingshi1.mp3
  audio/skill/olqingshi2.mp3
  audio/skill/olsanou1.mp3
  audio/skill/olsanou2.mp3
  audio/skill/olxiewei1.mp3
  audio/skill/olxiewei2.mp3
  audio/skill/olyouque1.mp3
  audio/skill/olyouque2.mp3
  audio/skill/paoxiao_ol_guanzhang1.mp3
  audio/skill/wusheng_ol_guanzhang1.mp3
  character/collab/voices.js
  character/onlyOL/voices.js
  character/refresh/skill.js
  character/sb/skill.js
  character/sp/voices.js
  image/character/dm_diaochan.jpg
  image/character/dm_lvbu.jpg
  image/character/shen_zhonghui.jpg
  image/character/wild_liru.jpg
Labels: App:Character, Status:Done, Level:P3

#2812 修复配音小问题
  character/onlyOL/skill.js
  character/sb/skill.js
Labels: App:Character, Status:Done, Level:P3

#2819 useCard/respond改动
  character/clan/skill.js
  noname/library/element/content.js
Labels: App:Core, Status:Done

#2841 SP貂蝉bugfix+异步化
  character/sp/skill.js
Labels: App:Character, Status:Done, Level:P3

#2835 重写showCards事件&部分技能跟进&bugfix
  card/huodong.js
  card/standard.js
  character/collab/skill.js
  character/collab/translate.js
  character/huicui/skill.js
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/onlyOL/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/tw/skill.js
  character/xianding/skill.js
  mode/versus.js
  node_modules/@types/noname-typings/nonameModules/noname/library/element/player.d.ts
  noname/library/element/content.js
  noname/library/element/gameEvent.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Card, App:Core, Status:Done, Level:P3

#2847 修复更改了语音默认行为导致一些语音失效的bug
  character/shenhua/skill.js
  character/yijiang/skill.js
Labels: App:Character, Status:Done, Level:P3

#2853 国战新将、bugfix
  card/huodong.js
  character/jsrg/skill.js
  character/mobile/index.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/newjiang/translate.js
  character/perfectPairs.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/skill.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/skill.js
  mode/guozhan/src/character/rest.js
  mode/guozhan/src/character/sort.js
  mode/guozhan/src/patch/content.js
  mode/guozhan/src/patch/player.js
  mode/guozhan/src/skill/character/normal.js
  mode/guozhan/src/skill/character/rest.js
  mode/guozhan/src/skill/character/yingbian.js
  mode/guozhan/src/translate/rest.js
  node_modules/@types/noname-typings/NonameAssemblyType.d.ts
  node_modules/@types/noname-typings/NonameHookType.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/assembly/buildin.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/assembly/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/hooks/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/index.d.ts
  noname/library/assembly/buildin.js
  noname/library/assembly/index.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/ui/click/index.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2856 新武将&bugfix
  character/diy/skill.js
  character/extra/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/newjiang/translate.js
  character/offline/character.js
  character/offline/dynamicTranslate.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/onlyOL/card.js
  character/rank.js
  character/replace.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/character.js
  character/sp2/skill.js
  character/sp2/translate.js
  character/tw/character.js
  character/tw/skill.js
  character/tw/sort.js
  character/tw/translate.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  character/yijiang/skill.js
  image/character/eu_kaisa.jpg
  node_modules/@types/noname-typings/Skill.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/player.d.ts
  noname/game/index.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2858 修复chooseToMove批量选择时跳过filterMove的问题/添加启用与禁用“全选/反选”功能的菜单选项
  game/config.js
  noname/library/assembly/buildin.js
  noname/library/element/content.js
  noname/library/index.js
  noname/ui/create/index.js
Labels: Status:Done, Level:P2, App:Visual
