Repository libnoname/noname, pull requests merged in 2025-08, with the labels that each got.

#2865 OL南华修改、回调useCard/respond修改
  character/sp/skill.js
  noname/library/element/content.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2866 新武将；新函数、新功能；bugfix；技能调整
  character/extra/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/offline/translate.js
  character/onlyOL/character.js
  character/onlyOL/dynamicTranslate.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/rank.js
  character/refresh/translate.js
  character/replace.js
  character/sb/index.js
  character/sb/translate.js
  character/shiji/translate.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yijiang/translate.js
  layout/default/layout.css
  mode/guozhan/src/translate/rest.js
  mode/guozhan/src/translate/skill/character/shi.js
  node_modules/@types/noname-typings/nonameModules/noname/library/element/player.d.ts
  noname/game/index.js
  noname/get/index.js
  noname/init/loading.js
  noname/library/element/content.js
  noname/library/index.js
  noname/ui/click/index.js
Labels: App:Character, App:Core, App:Connect, Status:Done, Level:P2

#2870 晋司马懿调整，张华周宣放大原画
  character/onlyOL/skill.js
  character/sp2/translate.js
  character/yingbian/skill.js
  image/character/dc_zhouxuān.jpg
  image/character/zhanghua.jpg
Labels: App:Character, Status:Done, Level:P3

#2871 封装player.isMine
  noname/library/element/gameEvent.js
  noname/library/element/player.js
Labels: App:Core, Status:Done, Level:P3

#2863 新武将侠曹丕&手杀谋郭嘉修复&新杀诸葛均调整
  character/extra/card.js
  character/extra/skill.js
  character/extra/translate.js
  character/huicui/skill.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/rank.js
  character/replace.js
  character/sb/skill.js
  image/card/wuqinxi_he.png
  image/card/wuqinxi_hu.png
  image/card/wuqinxi_lu.png
  image/card/wuqinxi_xiong.png
  image/card/wuqinxi_yuan.png
Labels: App:Character, Status:Done, Level:P3

#2873 clickable、南华老仙修复；格式化补充
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/skill.js
  character/sp/skill.js
  character/yingbian/skill.js
  noname/get/index.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Done, Level:P2

#2883 素材补充
  audio/die/clan_luji.mp3
  audio/die/dc_zhushuo.mp3
  audio/die/renwan.mp3
  audio/die/v_caopi.mp3
  audio/skill/clanfennu1.mp3
  audio/skill/clanfennu2.mp3
  audio/skill/clangailan1.mp3
  audio/skill/clangailan2.mp3
  audio/skill/clanzelie1.mp3
  audio/skill/clanzelie2.mp3
  audio/skill/dcdianlun1.mp3
  audio/skill/dcdianlun2.mp3
  audio/skill/dcjilie1.mp3
  audio/skill/dcjilie2.mp3
  audio/skill/dcjiwei1.mp3
  audio/skill/dcjiwei2.mp3
  audio/skill/dcjuanji1.mp3
  audio/skill/dcjuanji2.mp3
  audio/skill/dcrenshuang1.mp3
  audio/skill/dcrenshuang2.mp3
  audio/skill/dcsugang1.mp3
  audio/skill/dcsugang2.mp3
  audio/skill/dczsshuhe1.mp3
  audio/skill/dczsshuhe2.mp3
  character/clan/skill.js
  character/clan/voices.js
  character/xianding/skill.js
  character/xianding/voices.js
  image/character/dc_zhushuo.jpg
  image/character/renwan.jpg
  image/character/v_caopi.jpg
Labels: App:Character, Status:Done, Level:P3

#2882 国战、三服新武将；部分武将调整
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/character.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/perfectPairs.js
  character/rank.js
  character/replace.js
  character/sb/skill.js
  character/sb/translate.js
  character/shenhua/dynamicTranslate.js
  character/shenhua/skill.js
  character/shenhua/translate.js
  character/sp/skill.js
  character/sp/translate.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  image/character/mb_caohong.jpg
  mode/guozhan/index.js
  mode/guozhan/src/character/rest.js
  mode/guozhan/src/character/sort.js
  mode/guozhan/src/character/yingbian.js
  mode/guozhan/src/info/index.js
  mode/guozhan/src/skill/character/rest.js
  mode/guozhan/src/skill/character/yingbian.js
  mode/guozhan/src/translate/character/yingbian.js
  mode/guozhan/src/translate/rest.js
  mode/guozhan/src/translate/skill/character/yingbian.js
  node_modules/@types/noname-typings/nonameModules/noname/library/element/character.d.ts
  noname/library/element/character.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:P2

#2885 部分时机增添即时性
  mode/guozhan/src/info/index.js
  mode/guozhan/src/skill/character/rest.js
  noname/library/element/player.js
Labels: App:Core, Status:Done, Level:P2

#2881 bugfix；技能修改
  character/clan/skill.js
  character/clan/translate.js
  character/extra/skill.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/onlyOL/character.js
  character/onlyOL/dynamicTranslate.js
  character/onlyOL/skill.js
  character/onlyOL/sort.js
  character/onlyOL/translate.js
  character/sp/skill.js
  character/tw/skill.js
  character/xianding/skill.js
  character/xianding/translate.js
  character/yingbian/skill.js
  image/card/wuqinxi_lu.png
Labels: App:Character, Status:Done, Level:P3

#2894 本体BOSS的介绍与全名补齐
  mode/boss.js
Labels: App:Misc, Status:Done, Level:P3

#2898 素材补充+分包调整
  audio/die/ol_wangyi.mp3
  audio/skill/olmiji1.mp3
  audio/skill/olmiji2.mp3
  audio/skill/olzhenlie1.mp3
  audio/skill/olzhenlie2.mp3
  character/clan/skill.js
  character/mobile/skill.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/old/sort.js
  character/onlyOL/skill.js
  character/onlyOL/voices.js
  character/xianding/character.js
  character/xianding/sort.js
  character/xianding/translate.js
Labels: App:Character, Status:Done, Level:P3

#2892 bug修复
  character/clan/skill.js
  character/clan/translate.js
  character/xianding/skill.js
  mode/guozhan/src/skill/character/rest.js
  mode/guozhan/src/translate/rest.js
Labels: App:Mode, App:Character, Status:Done, Level:P3

#2869 重写了联机的dataSync接口和技能同步的相关封装喵，把技能独立出来了喵
  character/onlyOL/skill.js
  noname/game/index.js
  noname/library/index.js
  noname/util/utils.d.ts
  noname/util/utils.js
Labels: App:Core, App:Connect, Status:Done, Level:P1

#2895 修复chooseToMove对于跨块点击无法交换的问题，为所有只能交换的chooseToMove添加noChooseAll
  character/clan/skill.js
  character/extra/skill.js
  character/huicui/skill.js
  character/onlyOL/skill.js
  character/refresh/skill.js
  character/shenhua/skill.js
  character/sp/skill.js
  character/tw/skill.js
  character/xianding/skill.js
  character/yijiang/skill.js
  mode/guozhan/src/skill/character/yingbian.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Misc, Status:Done, Level:P3, App:Visual

#2899 1.10.17.4更新前最后的bugfix
  audio/skill/sbbeifa1.mp3
  audio/skill/sbbeifa2.mp3
  audio/skill/sbbeifa3.mp3
  audio/skill/sbbeifa4.mp3
  audio/skill/sbbeifa5.mp3
  audio/skill/sbtiaoxin3.mp3
  audio/skill/sbtiaoxin4.mp3
  character/collab/skill.js
  character/collab/translate.js
  character/extra/skill.js
  character/huicui/skill.js
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/refresh/skill.js
  character/sb/skill.js
  character/sb/voices.js
  character/shenhua/translate.js
  character/sp/skill.js
  character/sxrm/skill.js
  character/xianding/skill.js
  mode/guozhan/src/skill/character/rest.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Doing, Level:P3

#2904 素材补充+调整
  audio/die/dc_sb_caoang.mp3
  audio/die/dc_wuzhi.mp3
  audio/skill/dcsbfengmin1.mp3
  audio/skill/dcsbfengmin2.mp3
  audio/skill/dcsbzhiwang1.mp3
  audio/skill/dcsbzhiwang2.mp3
  audio/skill/dcweiti1.mp3
  audio/skill/dcweiti2.mp3
  audio/skill/dcyuanrong1.mp3
  audio/skill/dcyuanrong2.mp3
  character/sb/skill.js
  character/sb/voices.js
  character/xianding/skill.js
  character/xianding/voices.js
  image/character/dc_wuzhi.jpg
  noname/library/element/content.js
Labels: App:Character, Status:Done, Level:P3

#2903 bugfix~
  character/extra/skill.js
  character/huicui/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/offline/translate.js
  character/onlyOL/character.js
  character/onlyOL/dynamicTranslate.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/refresh/translate.js
  character/sb/skill.js
  character/sb/translate.js
  character/shiji/translate.js
  character/sp/skill.js
  character/tw/translate.js
  image/character/mb_huangzu.jpg
  image/character/mb_luyusheng.jpg
  image/character/ol_wangyi.jpg
  mode/guozhan/src/translate/rest.js
  mode/guozhan/src/translate/skill/character/shi.js
  noname/library/element/content.js
  noname/library/poptip.js
Labels: App:Character, App:Core, Status:Done, Level:P3

#2909 bugfix；技能调整
  character/huicui/skill.js
  character/onlyOL/character.js
  character/onlyOL/dynamicTranslate.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/shenhua/skill.js
  character/sp2/skill.js
  character/sp2/translate.js
  character/xianding/dynamicTranslate.js
  character/xianding/skill.js
  character/xianding/translate.js
  noname/ui/click/index.js
Labels: App:Character, Status:Done, Level:P3
