Repository libnoname/noname, pull requests merged in 2025-09, with the labels that each got.

#2911 bugfix
  character/offline/skill.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sp/skill.js
  character/sp/translate.js
  character/xianding/character.js
  character/yijiang/skill.js
  mode/boss.js
  mode/guozhan/src/skill/character/rest.js
  noname/get/index.js
Labels: App:Character, Status:Done, Level:P3

#2921 修复转化的延时锦囊牌离开判定区时错误的log
  noname/library/element/card.js
Labels: App:Misc, Status:Done, Level:P3, App:Visual

#2922 国战神将及相关机制调整
  character/extra/skill.js
  character/extra/sort.js
  character/extra/translate.js
  character/newjiang/card.js
  character/newjiang/skill.js
  character/newjiang/translate.js
  character/perfectPairs.js
  character/tw/skill.js
  character/yijiang/translate.js
  mode/guozhan/src/character/index.js
  mode/guozhan/src/character/normal.js
  mode/guozhan/src/character/rest.js
  mode/guozhan/src/character/shi.js
  mode/guozhan/src/character/sort.js
  mode/guozhan/src/character/wushuang.js
  mode/guozhan/src/main.js
  mode/guozhan/src/patch/content.js
  mode/guozhan/src/patch/game.js
  mode/guozhan/src/patch/player.js
  mode/guozhan/src/skill/character/index.js
  mode/guozhan/src/skill/character/normal.js
  mode/guozhan/src/skill/character/rest.js
  mode/guozhan/src/skill/character/wushuang.js
  mode/guozhan/src/skill/character/yingbian.js
  mode/guozhan/src/translate/character/index.js
  mode/guozhan/src/translate/character/wushuang.js
  mode/guozhan/src/translate/dynamic.js
  mode/guozhan/src/translate/rest.js
  mode/guozhan/src/translate/skill/character/index.js
  mode/guozhan/src/translate/skill/character/normal.js
  mode/guozhan/src/translate/skill/character/shi.js
  mode/guozhan/src/translate/skill/character/wushuang.js
  mode/identity.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Done, Level:P2

#2935 代星语喵提交PR喵；修复导入错误；修复【绝崖】可以响应打出的错误喵
  character/onlyOL/skill.js
  noname/library/zhanfa.js
Labels: App:Misc, Status:Done, Level:P3

#2949 三娘再次移动；chooseToCompare涉及函数改数组；bugfix
  character/mobile/character.js
  character/mobile/sort.js
  character/mobile/translate.js
  character/old/character.js
  character/old/sort.js
  character/old/translate.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sxrm/skill.js
  character/xianding/skill.js
  noname/library/element/content.js
Labels: App:Character, App:Core, Status:Done, Level:P2

#2956 素材补充
  audio/die/dc_sb_jiangwei_shadow.mp3
  audio/die/ol_sb_xuyou.mp3
  audio/skill/dcsbjuemou_dc_sb_jiangwei_shadow2.mp3
  audio/skill/olsbfenchao1.mp3
  audio/skill/olsbfenchao2.mp3
  audio/skill/olsbqianfu1.mp3
  audio/skill/olsbqianfu2.mp3
  audio/skill/olsbyushi1.mp3
  audio/skill/olsbyushi2.mp3
  character/onlyOL/skill.js
  character/onlyOL/voices.js
  character/xianding/voices.js
Labels: App:Character, Status:Done, Level:P3

#2955 外服起皇甫嵩；skill默认skill_id属性
  character/jsrg/skill.js
  character/onlyOL/skill.js
  character/rank.js
  character/replace.js
  character/tw/character.js
  character/tw/skill.js
  character/tw/sort.js
  character/tw/translate.js
  noname/game/index.js
  noname/library/index.js
Labels: App:Core, Level:P2

#2954 国战新武将，bugfix
  character/clan/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/perfectPairs.js
  character/rank.js
  character/replace.js
  character/sb/skill.js
  character/sb/translate.js
  character/sixiang/skill.js
  character/sp2/skill.js
  character/standard/skill.js
  character/standard/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  image/character/jun_lvbu.jpg
  image/character/scl_lvbu.jpg
  image/character/zj_zhugeliang.jpg
  mode/guozhan/src/character/rest.js
  mode/guozhan/src/character/sort.js
  mode/guozhan/src/skill/character/rest.js
  mode/guozhan/src/translate/rest.js
  node_modules/@types/noname-typings/nonameModules/noname/library/element/player.d.ts
  noname/library/element/gameEvent.js
  noname/library/element/player.js
  noname/library/index.js
  noname/ui/click/index.js
Labels: App:Character, Status:Done, Level:P3

#2965 剑阁四将，bugfix
  character/clan/skill.js
  character/collab/skill.js
  character/extra/skill.js
  character/huicui/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/skill.js
  character/newjiang/translate.js
  character/offline/skill.js
  character/old/skill.js
  character/onlyOL/card.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sp/skill.js
  character/sp2/skill.js
  character/xianding/skill.js
  character/yijiang/skill.js
  image/card/lusu_phaseDiscard.png
  image/card/lusu_phaseDraw.png
  image/card/lusu_phaseJieshu.png
  image/card/lusu_phaseJudge.png
  image/card/lusu_phaseUse.png
  image/card/lusu_phaseZhunbei.png
  image/mode/versus/character/boss_elaiziman.jpg
  image/mode/versus/character/boss_shenjianhansheng.jpg
  image/mode/versus/character/boss_weiwuyide.jpg
  image/mode/versus/character/boss_yiyongwenze.jpg
  mode/guozhan/src/skill/character/rest.js
  mode/versus.js
  node_modules/@types/noname-typings/type.d.ts
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
  noname/ui/create/index.js
Labels: App:Character, Status:Done, Level:P3

#2971 函数修改
  character/clan/skill.js
  character/xianding/skill.js
  noname/library/element/content.js
  noname/library/element/player.js
  noname/library/index.js
Labels: App:Core, Level:P1

#2973 修uninit的counttrigger的bug
  noname/library/element/player.js
Labels: App:Core, Status:Done, Level:P3

#2978 为神邓艾手牌标记添加三颜色滤镜做区分，并改异步写法
  character/extra/skill.js
  character/old/skill.js
  layout/default/layout.css
Labels: App:Character, Status:Done, Level:P2

#2979 恃强削弱；代提修改
  character/extra/skill.js
  character/extra/translate.js
  character/old/skill.js
  mode/doudizhu.js
  noname/library/element/content.js
Labels: App:Character, Status:Done, Level:P3

#2991 技能调整，原画补充
  character/mobile/dynamicTranslate.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/sb/skill.js
  character/sb/translate.js
  image/card/hhsg_sadou.png
  image/card/hhsg_tianshu.png
  image/character/dongxu.jpg
  image/character/jimiaojimu.jpg
  image/character/mb_caocao.jpg
  image/character/v_machao.jpg
Labels: App:Character, Status:Done, Level:P3, App:Visual

#2988 技能调整
  character/extra/skill.js
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/tw/skill.js
  character/tw/translate.js
Labels: App:Character, Status:Done, Level:P3

#2985 徐兖，郭照，徐妏
  character/offline/character.js
  character/offline/skill.js
  character/offline/sort.js
  character/offline/translate.js
  character/rank.js
  character/replace.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:P3

#2992 bugfix；遗漏的allowChooseAll适配
  character/huicui/skill.js
  character/newjiang/skill.js
  character/onlyOL/skill.js
Labels: App:Character, Status:Done, Level:P3

#3006 添加旧版〖恃强〗，分包调整，素材补充
  character/mobile/sort.js
  character/old/sort.js
  image/card/zf_duanliangcao2.png
  image/card/zf_fanci.png
  image/card/zf_qiaoquhaoduo.png
  image/character/ol_sb_lusu.jpg
  image/character/ol_sb_zhugeliang.jpg
  mode/doudizhu.js
  noname/library/index.js
Labels: App:Character, Status:Done, Level:P3

#3005 函数修改；bugfix
  card/extra.js
  character/mobile/skill.js
  character/newjiang/skill.js
  character/offline/skill.js
  character/onlyOL/dynamicTranslate.js
  character/onlyOL/skill.js
  character/rank.js
  character/refresh/translate.js
  character/replace.js
  character/sixiang/skill.js
  character/sp/skill.js
  character/sp2/skill.js
  character/tw/skill.js
  character/xianding/character.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  layout/default/layout.css
  noname/game/check.js
  noname/game/index.js
  noname/get/index.js
  noname/library/element/content.js
  noname/library/element/dialog.js
  noname/library/element/player.js
  noname/library/index.js
  noname/library/zhanfa.js
  noname/ui/click/index.js
  noname/ui/create/index.js
Labels: App:Character, App:Core, Status:Done, Level:P2
