Repository libnoname/noname, pull requests merged in 2025-02, with the labels that each got.

#2214 技能bugfix；技能修改
  character/clan/skill.js
  character/clan/translate.js
  character/collab/skill.js
  character/collab/translate.js
  character/huicui/character.js
  character/jsrg/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/newjiang/character.js
  character/newjiang/skill.js
  character/newjiang/translate.js
  character/onlyOL/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/skill.js
  character/sp2/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  mode/single.js
Labels: App:Mode, App:Character, Status:Doing, Level:Tide

#2217 遗漏提交补充
  character/huicui/character.js
  noname/library/index.js
Labels: App:Mode, App:Core, Status:Done, Level:Tide

#2218 bugfix；素材补充
  character/newjiang/skill.js
  character/sp2/skill.js
  character/xianding/skill.js
  character/xianding/translate.js
  image/character/ol_liaohua.jpg
  mode/boss.js
Labels: App:Character, Status:Done, Level:Limbo

#2221 重振吕范荣光，我辈义不容辞！
  mode/guozhan.js
Labels: App:Mode, App:Character, Status:Done, Level:Limbo

#2222 bugfix；技能修改
  character/huicui/dynamicTranslate.js
  character/huicui/skill.js
  character/huicui/translate.js
  character/jsrg/skill.js
  character/onlyOL/skill.js
  character/sp/skill.js
  character/tw/intro.js
  character/tw/translate.js
Labels: App:Character, Status:Done

#2225 修复两个小bug
  character/extra/skill.js
  character/onlyOL/skill.js
Labels: App:Character, Status:Done, Level:Limbo

#2224 bugfix
  character/newjiang/skill.js
  image/character/one_dc_sp_machao.jpg
  image/character/two_dc_sp_machao.jpg
  mode/boss.js
Labels: App:Character, Status:Done, Level:Limbo

#2226 对一些数组的猴子补丁进行优化
  noname/init/polyfill.js
Labels: App:Core, Status:Finishing, Level:Limbo

#2229 八个菲克斯
  character/clan/skill.js
  character/clan/translate.js
  character/collab/skill.js
  character/huicui/skill.js
  character/mobile/card.js
  character/mobile/character.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/rank.js
  character/sp/dynamicTranslate.js
  character/sp/skill.js
  character/sp2/characterReplace.js
  character/tw/character.js
  character/tw/skill.js
  character/tw/sort.js
  character/tw/translate.js
  character/xianding/skill.js
  character/xianding/translate.js
  noname/get/index.js
  noname/library/element/content.js
  noname/library/index.js
Labels: App:Character, App:Core, Status:Doing, Note:Discussion, Level:Vulcan

#2230 补充技能调整+素材补充
  character/extra/dynamicTranslate.js
  character/extra/skill.js
  character/extra/translate.js
  character/tw/character.js
  image/character/tw_simashi.jpg
Labels: App:Character, Status:Done, Level:Tide

#2234 damage添加nohujia属性
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Core, Status:Done, Level:Limbo

#2239 同名替换增加置入总文件
  character/replace.js
  noname/init/index.js
  noname/init/loading.js
Labels: App:Core, Status:Done, Level:Limbo

#2241 新武将；函数优化；bugfix
  character/rank.js
  character/shiji/voices.js
  character/sp/character.js
  character/sp/skill.js
  character/sp/translate.js
  character/xianding/character.js
  character/xianding/dynamicTranslate.js
  character/xianding/intro.js
  character/xianding/skill.js
  character/xianding/sort.js
  character/xianding/translate.js
  noname/library/element/content.js
  noname/library/element/player.js
Labels: App:Character, App:Core, Status:Finishing, Level:Limbo

#2262 修复神庞统【鹍浴】的结算
  character/extra/skill.js
Labels: App:Character, Status:Done, Level:Zephyr

#2261 bugfix；技能修改
  card/yunchou.js
  character/clan/skill.js
  character/ddd/dynamicTranslate.js
  character/diy/skill.js
  character/extra/skill.js
  character/jsrg/skill.js
  character/mobile/card.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/offline/dynamicTranslate.js
  character/offline/skill.js
  character/offline/translate.js
  character/onlyOL/skill.js
  character/onlyOL/translate.js
  character/sb/skill.js
  character/shiji/skill.js
  character/sixiang/translate.js
  character/sp/intro.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/intro.js
  character/tw/card.js
  character/tw/intro.js
  character/tw/skill.js
  character/tw/translate.js
  character/xianding/intro.js
  mode/boss.js
  noname/get/index.js
  noname/library/element/card.js
  noname/library/element/player.js
Labels: App:Character, Status:Done, Level:Zephyr

#2265 更换部分jsrg为群友的高清扫图
  image/character/jin_jsrg_simazhao.jpg
  image/character/jsrg_caocao.jpg
  image/character/jsrg_caofang.jpg
  image/character/jsrg_chendeng.jpg
  image/character/jsrg_chenfan.jpg
  image/character/jsrg_dengai.jpg
  image/character/jsrg_dongzhuo.jpg
  image/character/jsrg_guanyu.jpg
  image/character/jsrg_guojia.jpg
  image/character/jsrg_guoxun.jpg
  image/character/jsrg_huangzhong.jpg
  image/character/jsrg_jiangwei.jpg
  image/character/jsrg_liubei.jpg
  image/character/jsrg_liubiao.jpg
  image/character/jsrg_liuhong.jpg
  image/character/jsrg_lougui.jpg
  image/character/jsrg_lukang.jpg
  image/character/jsrg_luxun.jpg
  image/character/jsrg_machao.jpg
  image/character/jsrg_malong.jpg
  image/character/jsrg_pangtong.jpg
  image/character/jsrg_qiaoxuan.jpg
  image/character/jsrg_simaliang.jpg
  image/character/jsrg_simayi.jpg
  image/character/jsrg_songhuanghou.jpg
  image/character/jsrg_sunce.jpg
  image/character/jsrg_sunjian.jpg
  image/character/jsrg_sunjun.jpg
  image/character/jsrg_sunlubansunluyu.jpg
  image/character/jsrg_sunshangxiang.jpg
  image/character/jsrg_tufashujineng.jpg
  image/character/jsrg_wenyang.jpg
  image/character/jsrg_xiahourong.jpg
  image/character/jsrg_xushao.jpg
  image/character/jsrg_xuyou.jpg
  image/character/jsrg_yl_luzhi.jpg
  image/character/jsrg_yuanshao.jpg
  image/character/jsrg_zhangfei.jpg
  image/character/jsrg_zhanghe.jpg
  image/character/jsrg_zhanghuan.jpg
  image/character/jsrg_zhangjiao.jpg
  image/character/jsrg_zhangju.jpg
  image/character/jsrg_zhangliao.jpg
  image/character/jsrg_zhangren.jpg
  image/character/jsrg_zhaoyun.jpg
  image/character/jsrg_zhenji.jpg
  image/character/jsrg_zhugedan.jpg
  image/character/jsrg_zhugeliang.jpg
  image/character/jsrg_zoushi.jpg
Labels: App:Character, Status:Done, Level:Limbo

#2264 fix/调整
  character/huicui/skill.js
  character/mobile/skill.js
  character/mobile/translate.js
  character/offline/character.js
  character/offline/skill.js
  character/refresh/skill.js
  character/shenhua/skill.js
  character/sp/skill.js
  character/sp/translate.js
  character/sp2/skill.js
  character/standard/skill.js
  character/xianding/skill.js
  character/yijiang/skill.js
Labels: App:Character, Status:Done, Level:Tide

#2267 fix: old browser doesn't support `Iterator#some`.
  service-worker.js
Labels: App:Misc, Status:Finishing, Level:Limbo

#2269 更新版本号
  game/asset.js
  game/update.js
  game/updateLog.md
  node_modules/@types/noname-typings/nonameModules/game/codemirror.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/ai/basic.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/ai/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/game/check.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/game/compatible.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/game/dynamic-style/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/game/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/game/promises.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/get/audio.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/get/compatible.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/get/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/get/is.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/get/pinyins/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/gnc/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/init/import.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/init/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/announce/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/assembly/buildin.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/assembly/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/cache/cacheContext.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/channel/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/GameEvent/GameEventManager.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/GameEvent/compilers/ContentCompilerBase.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/GameEvent/compilers/IContentCompiler.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/GameEvent/compilers/YieldCompiler.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/button.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/card.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/character.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/client.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/content.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/dialog.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/gameEvent.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/nodeWS.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/player.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/element/vcard.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/hooks/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/init/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/init/promises.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/library/update.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/status/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/ui/click/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/ui/create/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/ui/create/menu/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/ui/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/browser.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/config.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/error.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/index.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/pagination.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/sandbox.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/security.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/struct/promise-error-handler/chrome.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/struct/promise-error-handler/firefox.d.ts
  node_modules/@types/noname-typings/nonameModules/noname/util/struct/promise-error-handler/unknown.d.ts
Labels: Status:Done, Level:Zephyr, App:Overall

#2280 修复macOS系统`__dirname`错误
  game/game.js
Labels: App:Core, Status:Finishing, Level:Limbo

#2285 素材补充
  audio/die/hanshiwuhu.mp3
  audio/die/jsrg_zhaoyun.mp3
  audio/die/ol_taoqian.mp3
  audio/die/ol_xuelingyun.mp3
  audio/die/re_caorui.mp3
  audio/skill/huituo_re_caorui1.mp3
  audio/skill/huituo_re_caorui2.mp3
  audio/skill/jsrglonglin1.mp3
  audio/skill/jsrglonglin2.mp3
  audio/skill/jsrgzhendan1.mp3
  audio/skill/jsrgzhendan2.mp3
  audio/skill/oljuejue1.mp3
  audio/skill/oljuejue2.mp3
  audio/skill/olpimi1.mp3
  audio/skill/olpimi2.mp3
  audio/skill/olqiaozhi1.mp3
  audio/skill/olqiaozhi2.mp3
  audio/skill/olsiqi1.mp3
  audio/skill/olsiqi2.mp3
  audio/skill/olwenren1.mp3
  audio/skill/olwenren2.mp3
  audio/skill/olzhaohuo1.mp3
  audio/skill/olzhaohuo2.mp3
  audio/skill/olzongluan1.mp3
  audio/skill/olzongluan2.mp3
  audio/skill/remingjian1.mp3
  audio/skill/remingjian2.mp3
  audio/skill/reqicai1.mp3
  audio/skill/reqicai2.mp3
  audio/skill/rexingshuai1.mp3
  audio/skill/rexingshuai2.mp3
  character/collab/voices.js
  character/jsrg/voices.js
  character/refresh/voices.js
  character/sp/skill.js
  character/sp/voices.js
  image/character/hanshiwuhu.jpg
Labels: App:Character, Status:Done, Level:Tide

#2286 fix: player.setAvatar
  noname/library/element/player.js
Labels: App:Core, Status:Done, Level:Limbo
